@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.cube div span a {
    position: absolute;
    font-size: 5em;
    color: #fff;
    transform: translateZ(30px);
    text-decoration: none;
}

.cube div span a:nth-child(1) {
    transform: translateZ(0) translateY(20px);
    color: rgba(0, 0, 0, 0.1);
    filter: blur(2px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);
}

#top1::before {
    background: rgb(255, 0, 0);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 0, 0, 0.2),
    0 0 200px rgba(255, 0, 0, 0.4),
    0 0 300px rgba(255, 0, 0, 0.6),
    0 0 400px rgba(255, 0, 0, 0.8),
    0 0 500px rgba(255, 0, 0, 1);
}

#top3::before {
    background: rgb(255, 255, 0);
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 255, 0, 0.2),
    0 0 200px rgba(255, 255, 0, 0.4),
    0 0 300px rgba(255, 255, 0, 0.6),
    0 0 400px rgba(255, 255, 0, 0.8),
    0 0 500px rgba(255, 255, 0, 1);
}

#cube1 {
    left: -12%;
}

#cube1 div span {
    background: linear-gradient(#151515, #ec0000);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

#cube2 {
    left: 0%;
}

#cube3 {
    left: 12%;
}

#cube3 div span {
    background: linear-gradient(#151515, #d4ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}